AuthName "Entrez le mot de passe"
AuthType Basic 
# Attention le fichier htpasswd ne doit pas etre accessible sur internet
AuthUserFile C:\Users\lucki\Downloads\UwAmp\UwAmp\www\blog\protege\.htpasswd
Require valid-user